
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<input id="Name" name="Name" style="color:red" type="text" value="Enter Name" />
<input id="Email" name="Email" style="color:red" type="text" value="Enter Email" />
@Html.ActionLink("submit","Index","Sinup")